#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    background-color: #B1A296;
  
}


#work-section {
     width: 100%;
     height:100vh;
     background-color: #557A95;
      
}

#contact-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height:100vh;
     background-color: #5D5681;
    
}

.work-head{
    text-align: center;
    padding-top: 5%;
}

h3 {
    text-align: center;
}

.description{
    text-align: left;
}
